
.ssh-hook {
	position: relative;
	clear: both;
	width: auto !important;
	float: none !important;
	min-width: 0px !important;
	min-height: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1) inset, 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
	color: #EEEEEE !important;
	text-decoration: none !important;
	border-radius: 2px !important;
	margin: 2px 0 2px 2px !important;
	font-size: 11px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: normal;
	display: inline-block !important;
	line-height: 16px !important;
	height: 17px !important;
	padding: 1px 5px 0 !important;
	background: rgb(66, 66, 66) !important;
	transition: .5s !important;
	white-space: nowrap !important;
	box-sizing: initial !important;
}
.ssh-hook.ssh-hook-action {
	background: #D1E8E0 !important;
	color: #2E2E2E !important;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
}
.ssh-hook.ssh-hook-filter {
	background: #E8D8D3 !important;
	color: #3A2D2D !important;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
}
.ssh-hook .ssh-hook-type{
	background: rgba(0, 0, 0, 0.13) !important;
	border-radius: 30px !important;
	min-width: 11px !important;
	line-height: 11px !important;
	padding-top: 0px !important;
	display: inline-block !important;
	text-align: center !important;
	color: rgba(8, 8, 8, 0.9) !important;
	font-size: 9px !important;
	margin: 0px !important;
	float: none !important;
}
.ssh-hook.ssh-hook-action .ssh-hook-type{
	background: rgba(0, 0, 0, 0.2) !important;
	color: rgba(199, 255, 212, 1) !important;
}
.ssh-hook.ssh-hook-filter .ssh-hook-type{
	background: rgba(0, 0, 0, 0.15) !important;
	color: #F4E1E1 !important;
}
.ssh-hook.ssh-hook-action.ssh-hook-has-hooks .ssh-hook-type{
	background: rgba(0, 0, 0, 0.2) !important;
	color: #4DCCA8 !important;
}
.ssh-hook.ssh-hook-filter.ssh-hook-has-hooks .ssh-hook-type{
	background: rgba(0, 0, 0, 0.25) !important;
	color: rgba(196, 131, 131, 1) !important;
}
.ssh-hook.ssh-hook-has-hooks {
	cursor: pointer;
}
.ssh-hook.ssh-hook-action.ssh-hook-has-hooks {
	background: #34B08D !important;
	color: #F6F6F6 !important;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.17) !important;
}
.ssh-hook.ssh-hook-filter.ssh-hook-has-hooks {
	background: #AB325B !important;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 1px rgba(0, 0, 0, 0.17) !important;
	color: #FFF !important;
}

.ssh-hook .ssh-hook-count {
	float:none !important;
	min-width: 14px !important;
	min-height:0 !important;
	font-size: 8px !important;
	background: rgba(255, 0, 43, 0.96) !important;
	border-radius: 20px !important;
	padding: 1px 3px 0px 2px !important;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16) inset, 0 1px 0 rgba(0, 0, 0, 0.01)  !important;
	line-height: 12px !important;
	position: relative !important;
	top: -6px !important;
	margin: 0 -9px 0 0px !important;
	width: auto !important;
	display: inline-block !important;
	text-align: center !important;
	height: 14px !important;
	box-sizing: border-box !important;
	color: rgba(255, 255, 255, 0.95) !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
}
.ssh-hook .ssh-hook-dropdown {
	position: absolute;
	z-index: 100000;
	line-height: 12px;
	display: none;
	border-radius: 1px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.09), 0 0 0 1px rgba(0, 0, 0, 0.12);
	color: rgb(66, 66, 66);
	font-size: 11px;
	white-space: nowrap;
	/* max-width: 740px;
	*/ /* width: 660px;
	*/ padding: 0px 10px 9px;
	margin: 0px 0 0 -16px !important;
	background: rgb(255, 255, 255);
	overflow: visible !important;
	top: 100%;
}
.ssh-hook .ssh-hook-dropdown:after {
	display:block;
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px;
	border-color: transparent;
	border-bottom-color: #FFF !important;
	border-top-width: 0;
	position: absolute;
	bottom: 100%;
	left: 30px;
	opacity: 1 !important;
}
.ssh-hook .ssh-hook-dropdown:before {
	display:block;
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px;
	border-color: transparent;
	border-bottom-color: rgba(0, 0, 0, 0.29);
	border-top-width: 0;
	position: absolute;
	bottom: 100%;
	margin-left:-1px;
	left: 30px;
}
.ssh-hook ul.ssh-hook-dropdown {}
.ssh-hook ul.ssh-hook-dropdown li span.ssh-function-string {
	position: relative;
	width: auto !important;
	float: none !important;
	min-width: 0px !important;
	min-height: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.14) !important;
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) !important;
	color: rgb(255, 255, 255) !important;
	text-decoration: none !important;
	border-radius: 2px !important;
	margin: 0 !important;
	font-size: 11px !important;
	display: inline-block !important;
	line-height: 14px !important;
	height: 17px !important;
	padding: 1px 5px 0px !important;
	background: #34B08D !important;
	transition: .5s !important;
	white-space: nowrap !important;
}
.ssh-hook.ssh-hook-filter ul.ssh-hook-dropdown li span.ssh-function-string {
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.2) !important;
	background: #AB325B !important;
}
.ssh-hook ul.ssh-hook-dropdown li span:before {
	display: none !important;
}
.ssh-hook ul.ssh-hook-dropdown li span:after {
	display:none !important;
}
.ssh-hook ul.ssh-hook-dropdown li {
	display:block;
	padding: 2px 0 2px 0;
	position: relative;
	margin: 0;
	float: none;
	clear: both;
	width: auto !important;
	float: none !important;
}
.ssh-hook ul.ssh-hook-dropdown li.ssh-hook-heading {
	padding: 1px 0;
	background: rgba(231, 231, 231, 0.46);
	margin: 10px 0 20px;
	font-size: 13px;
	padding: 12px 9px;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-radius: 3px;
}
.ssh-hook ul.ssh-hook-dropdown li.ssh-priority {
	display:block;
	height: 1px;
	padding:0;
	margin: 16px 0 10px;
	border-bottom: 1px solid #F4F4F4;
}
.ssh-hook ul.ssh-hook-dropdown li span.ssh-priority-label {
	display: inline-block;
	background: #FFFFFF;
	border-radius: 50px;
	line-height: 20px;
	height: 16px;
	font-size: 11px;
	color: #474747;
	padding: 0 5px 0 0;
	margin: -2px 0 0;
	position: relative;
	top: -7px;
	left: 0px;
}
.ssh-hook ul.ssh-hook-dropdown li span.ssh-priority-label:after{
	content:"" !important;
}
.ssh-hook ul.ssh-hook-dropdown li span.ssh-priority-label:before{
	content:"" !important;
}
.ssh-hook ul.ssh-hook-dropdown li span.ssh-priority-label strong {
	font-weight:bold;
}
.ssh-hook ul.ssh-hook-dropdown li ul {
	display:none;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 2px 9px rgba(0, 0, 0, 0.21);
	border-radius: 3px;
	position: absolute;
	background: white;
	z-index: 100;
	top: 100%;
	margin-top: -1px;
	left: 15px;
	pointer-events: none;
}
.ssh-hook ul.ssh-hook-dropdown li ul li {}
.ssh-hook ul.ssh-hook-dropdown li:hover ul {
	display:block;
}

.ssh-collection-divider{
	/* background:red;
*/
	margin: 1px 2px;
	padding: 10px 0;
	font-size: 12px;
	font-weight: bold;
}

/*Pulse Animation*/
@-webkit-keyframes ssh-pulse {
0% {
	opacity:0;
} 100% {
	opacity:1;
} }

.ssh-hook .ssh-hook-dropdown pre {}
.ssh-hook:hover .ssh-hook-dropdown {
	display:block !important;
}

.ssh-notification-switch {
	position: fixed;
	background: rgb(35, 35, 35);
	z-index: 100000;
	padding: 0 11px 0 0 !important;
	color: #FFF !important;
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
	white-space: nowrap !important;
	right: 0px;
	line-height: 33px !important;
	height: 33px;
	top: 33px;
	text-decoration: none;
}
.ssh-notification-switch:hover {
	color:white;
	text-decoration:none;
}
.ssh-notification-switch .ssh-notification-indicator {
	background-color: #b7ed00;
	-webkit-animation: ssh-pulse 1s infinite alternate;
	width: 11px;
	height: 11px;
	display: inline-block;
	border-radius: 50px;
	margin: 0 4px -1px 10px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 -1px 0 rgba(0, 0, 0, 0.12) inset, 0 1px 0 rgba(0, 0, 0, 0.59);
}

.ssh-notification-switch .ssh-notification-button {
	display: none;
}
.ssh-notification-switch:hover .ssh-notification-button {
	display: inline-block;
	margin-right: -18px;
	height: 33px;
	line-height: 33px;
	padding: 0 14px 0 11px;
}
.ssh-notification-switch .ssh-notification-button:hover {
	background: rgba(255, 255, 255, 0.11);
}

.ssh-hooks-on {}

#wp-admin-bar-ssh-main-menu .ab-submenu .ab-item:before  {
	line-height: 11px;
	display:inline-block;
	background-color: rgba(146, 146, 146, 1);
	width: 11px;
	height: 3px;
	display: inline-block;
	border-radius: 50px;
	margin: 0 8px -1px 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.59);
	float: none !important;
	content: "" !important;
	clear: both;
	display: inline-block;
	/* border: 2px solid #8B8B8B;
*/}
#wp-admin-bar-ssh-main-menu .ab-submenu .ssh-hooks-on .ab-item:before {
	background-color: #b7ed00;
	-webkit-animation: ssh-pulse 1s infinite alternate;
}

.ssh-nested-hooks-block {
	display:none;
	background: white;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 385px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: 6px 0px 0px rgba(0, 0, 0, 0.05), 0 1px 15px rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.24);
	padding: 3px;
}
.ssh-nested-hooks-block.ssh-active {
	display:block;
}
.ssh-nested-hooks-block .ssh-hook {
	max-width: 380px;
}